<!-- 这个header就是特指index的头部 -->

<% if(theme.index.header != null || theme.index.header == "") {%>
    <div class="index-header-line" >
        <% if(theme.index.hitokoto) { %>
            <span id="quote"></span>
            <script src="<%= url_for('/js/hitokoto.js') %>" ></script>
        <% } else { %>
            <div id="hiddenHeaderContentArray" style="display: none;">
                <% var headerContentArray = theme.index.header %>
                <% var headerContentArrayLength = headerContentArray.length %>
                <% for(let i = 0; i < headerContentArrayLength; i++) { %>
                    <span><%= theme.index.header[i] %></span>
                <% } %>
            </div>
            <span id="targetSpan"></span>
        <% } %>
    </div>
<% } %>

<div class="header">
    <div class="header-container">
        <style>
            .header-img {
                width: 56px;
                height: auto;
                object-fit: cover;
                transition: transform 0.3s ease-in-out;
                border-radius: <%= theme.isRoundedAvatar ? '50%' : '0' %>;
            }
            <% if (theme.isAvatarRotating && theme.isRoundedAvatar) { %>
            .header-img:hover {
                animation: rotateAnimation 2s linear infinite;
            }
            @keyframes rotateAnimation {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
            <% } %>
        </style>
        <% if(theme.indexAvatar || theme.favicon) { %>
        <img
            alt="^-^"
            cache-control="max-age=86400"
            class="header-img"
            src="<%- url_for(theme.indexAvatar || theme.favicon) %>"
        />
        <% } %>
        <div class="header-content">
            <a class="logo" href="<%- url_for() %>"><%= config.title %></a>
            <span class="description"><%= config.description %></span>
        </div>
    </div>


    <ul class="nav">
        <% for (name in theme.menu) { %>
            <% if(theme.menu[name] == '/') { %>
                <li><i>
                    <% if(theme.color.enable) { %>
                        <u>
                            <a href="<%- url_for('/') %>"><%= name %></a>
                        </u>
                    <% } else { %>
                        <a style="color: #4e7dde;" href="<%- url_for('/') %>"><%= name %></a>
                    <% } %>
                </i></li>
            <% } else { %>
                <li><a href="<%- url_for(theme.menu[name]) %>"><%= name %></a></li>
            <% } %>
        <% } %>
    </ul>
</div>
